# MySQL 容器数据目录（完全不要提交）
db/mysql_data/
*.sock
*.ibd
ib_buffer_pool
auto.cnf
binlog.*

# Llama模型、缓存、AI二进制文件
ai_llama/models/
ai_llama/cache/

# SSH私钥（绝对禁止提交，安全风险）
id_ed25519
id_ed25519.pub

# Node前端产物
web/bibutong_front/dist/
node_modules/
npm-debug.log

# Docker镜像、容器临时文件
.docker/
*.log
tmp/
temp/

# IDE系统文件
.idea/
.vscode/
.DS_Store