<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 日志输出格式，线程号、日志级别、输出时间、日志信息 -->
	<property name="log.pattern" value="[%thread]%d{HH:mm:ss.SSS} %-5level %logger{25} - %msg%n" />

	<!-- 控制台输出 指定向控制台输出，指定输出方式和格式-->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${log.pattern}</pattern>
		</encoder>
	</appender>
	
	<!-- 系统日志输出，指定向文件输出日志，明确方法与格式 -->
	<appender name="file_info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 每天输出一个文件，同时定义日志文件名格式 -->
			<fileNamePattern>info.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>${log.pattern}</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- 过滤的级别，输出含INFO和高于INFO级别的日志，如WARN和ERROR级别日志-->
            <level>INFO</level>
        </filter>
	</appender>
	
	<appender name="file_error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 每天输出一个文件，同时定义日志文件名格式 -->
            <fileNamePattern>error.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <!-- 只输出ERROR级别的日志 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!--
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:9601</destination>
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder" >
            <customFields>{"appname":"HrManager"}</customFields>
        </encoder>
    </appender>
    -->

	<!--系统操作日志-->
    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="file_info" />
        <appender-ref ref="file_error" />
        <!-- <appender-ref ref="LOGSTASH" /> -->
    </root>
</configuration>